# Ignore CNN saved model language in GitHub language summary :
*.pb linguist-vendored

# Ignore Jupyter Notebook language
*.ipynb linguist-vendored

# When commiting to the remote repository all files are stored with end of line LF.
* text=auto eol=lf
