matplotlib~=3.5.1
numpy~=1.19.5
sklearn~=0.0
pandas~=1.4.2
tensorflow==2.6.0
tensorflow-gpu==2.6.0
keras==2.6
opencv-python~=4.5.5.64

Pillow~=9.1.0
future~=0.18.2
scikit-learn~=1.0.2
scikit-image~=0.19.2

Flask==2.1.2
emoji==1.7.0